.DS_Store
xcuserdata/
*.xcuserstate
*.xcuserdatad/
build/
DerivedData/
Frameworks/sherpa-onnx.xcframework/
Frameworks/onnxruntime.xcframework/
Frameworks/sherpa-onnx-*-ios-*/
*.xcarchive/
*.ipa
*.dSYM.zip
*.dSYM/
.swiftpm/
fastlane/report.xml
fastlane/Frameworks/
fastlane/build/
